In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /Users/vivektomar/anaconda3/lib/python3.11/site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /Users/vivektomar/anaconda3/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('meningitis_nigeria.csv')

/Users/vivektomar/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,gender,state,settlement,report_date,report_year,age_str,date_of_birth,health_status
0,Female,Ebonyi,Urban,16/12/11,2011,59 years,07/04/52,Dead
1,Female,Imo,Urban,23/08/12,2012,2 months,21/06/15,Alive
2,Male,Ebonyi,Urban,07/09/15,2015,49 years,09/03/66,Dead
3,Male,Abia,Urban,12/06/11,2011,48 years,21/09/63,Dead
4,Male,Bayelsa,Rural,02/02/09,2009,3 years,27/07/06,Dead
...,...,...,...,...,...,...,...,...
28357,Male,Ogun,Urban,23/04/18,2018,69 years,10/11/49,Alive
28358,Female,Federal Capital Territory,Urban,30/12/17,2017,11 years,19/10/06,Dead
28359,Male,Kaduna,Rural,07/12/12,2012,29 years,23/02/83,Alive
28360,Female,Kogi,Urban,30/06/10,2010,4 months,20/02/10,Alive
28361,Male,Oyo,Urban,12/11/09,2009,1 months,06/10/13,Dead

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Major').getOrCreate()

24/12/12 22:39:48 WARN Utils: Your hostname, Viveks-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.104 instead (on interface en0)
24/12/12 22:39:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/12 22:39:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('meningitis_nigeria.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string]

In [9]:
df_pyspark.show()

+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+
|   _c0|                 _c1|       _c2|        _c3|        _c4|     _c5|          _c6|          _c7|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+
|gender|               state|settlement|report_date|report_year| age_str|date_of_birth|health_status|
|Female|              Ebonyi|     Urban|   16/12/11|       2011|59 years|     07/04/52|         Dead|
|Female|                 Imo|     Urban|   23/08/12|       2012|2 months|     21/06/15|        Alive|
|  Male|              Ebonyi|     Urban|   07/09/15|       2015|49 years|     09/03/66|         Dead|
|  Male|                Abia|     Urban|   12/06/11|       2011|48 years|     21/09/63|         Dead|
|  Male|             Bayelsa|     Rural|   02/02/09|       2009| 3 years|     27/07/06|         Dead|
|Female|             Anambra|     Rural|   27/06/11|       2011|16 years|     10/01/95|        Alive|
|  Male|Federal Capital T...|     Urban|   06/01/10|       2010| 2 years|     10/12/08|        Alive|
|Female|               Gombe|     Urban|   05/11/09|       2009|30 years|     30/03/79|         Dead|
|  Male|                Ogun|     Rural|   19/04/13|       2013|24 years|     16/08/89|         Dead|
|  Male|              Kaduna|     Urban|   29/12/17|       2017|19 years|     22/01/98|        Alive|
|Female|               Benue|     Rural|   14/12/09|       2009| 7 years|     17/03/02|        Alive|
|Female|                Kano|     Urban|   15/06/16|       2016|61 years|     17/01/55|         Dead|
|Female|                 Oyo|     Rural|   18/07/14|       2014|20 years|     26/01/94|         Dead|
|  Male|                Kano|     Rural|   03/05/14|       2014|15 years|     01/12/99|        Alive|
|Female|                Ondo|     Rural|   17/11/11|       2011| 9 years|     12/05/02|        Alive|
|  Male|             Anambra|     Rural|   06/10/17|       2017|47 years|     04/07/70|         Dead|
|Female|                 Imo|     Urban|   07/08/12|       2012|69 years|     05/09/43|         Dead|
|Female|             Zamfara|     Urban|   28/05/15|       2015|54 years|     31/10/61|         Dead|
|Female|            Nasarawa|     Rural|   13/02/18|       2018|59 years|     09/06/59|         Dead|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+
only showing top 20 rows

In [10]:
df_pyspark = spark.read.option('header', 'true').csv('meningitis_nigeria.csv').show()

+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+
|gender|               state|settlement|report_date|report_year| age_str|date_of_birth|health_status|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+
|Female|              Ebonyi|     Urban|   16/12/11|       2011|59 years|     07/04/52|         Dead|
|Female|                 Imo|     Urban|   23/08/12|       2012|2 months|     21/06/15|        Alive|
|  Male|              Ebonyi|     Urban|   07/09/15|       2015|49 years|     09/03/66|         Dead|
|  Male|                Abia|     Urban|   12/06/11|       2011|48 years|     21/09/63|         Dead|
|  Male|             Bayelsa|     Rural|   02/02/09|       2009| 3 years|     27/07/06|         Dead|
|Female|             Anambra|     Rural|   27/06/11|       2011|16 years|     10/01/95|        Alive|
|  Male|Federal Capital T...|     Urban|   06/01/10|       2010| 2 years|     10/12/08|        Alive|
|Female|               Gombe|     Urban|   05/11/09|       2009|30 years|     30/03/79|         Dead|
|  Male|                Ogun|     Rural|   19/04/13|       2013|24 years|     16/08/89|         Dead|
|  Male|              Kaduna|     Urban|   29/12/17|       2017|19 years|     22/01/98|        Alive|
|Female|               Benue|     Rural|   14/12/09|       2009| 7 years|     17/03/02|        Alive|
|Female|                Kano|     Urban|   15/06/16|       2016|61 years|     17/01/55|         Dead|
|Female|                 Oyo|     Rural|   18/07/14|       2014|20 years|     26/01/94|         Dead|
|  Male|                Kano|     Rural|   03/05/14|       2014|15 years|     01/12/99|        Alive|
|Female|                Ondo|     Rural|   17/11/11|       2011| 9 years|     12/05/02|        Alive|
|  Male|             Anambra|     Rural|   06/10/17|       2017|47 years|     04/07/70|         Dead|
|Female|                 Imo|     Urban|   07/08/12|       2012|69 years|     05/09/43|         Dead|
|Female|             Zamfara|     Urban|   28/05/15|       2015|54 years|     31/10/61|         Dead|
|Female|            Nasarawa|     Rural|   13/02/18|       2018|59 years|     09/06/59|         Dead|
|  Male|                Ogun|     Urban|   02/06/12|       2012| 7 years|     13/05/05|        Alive|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+
only showing top 20 rows

In [11]:
type(df_pyspark)

NoneType

In [12]:
 df_pyspark =spark.read.option('header', 'true').csv('meningitis_nigeria.csv', inferSchema=True)

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.printSchema()

root
 |-- gender: string (nullable = true)
 |-- state: string (nullable = true)
 |-- settlement: string (nullable = true)
 |-- report_date: string (nullable = true)
 |-- report_year: integer (nullable = true)
 |-- age_str: string (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- health_status: string (nullable = true)

In [15]:
df_pyspark.columns

['gender',
 'state',
 'settlement',
 'report_date',
 'report_year',
 'age_str',
 'date_of_birth',
 'health_status']

In [16]:
df_pyspark.head(5)

[Row(gender='Female', state='Ebonyi', settlement='Urban', report_date='16/12/11', report_year=2011, age_str='59 years', date_of_birth='07/04/52', health_status='Dead'),
 Row(gender='Female', state='Imo', settlement='Urban', report_date='23/08/12', report_year=2012, age_str='2 months', date_of_birth='21/06/15', health_status='Alive'),
 Row(gender='Male', state='Ebonyi', settlement='Urban', report_date='07/09/15', report_year=2015, age_str='49 years', date_of_birth='09/03/66', health_status='Dead'),
 Row(gender='Male', state='Abia', settlement='Urban', report_date='12/06/11', report_year=2011, age_str='48 years', date_of_birth='21/09/63', health_status='Dead'),
 Row(gender='Male', state='Bayelsa', settlement='Rural', report_date='02/02/09', report_year=2009, age_str='3 years', date_of_birth='27/07/06', health_status='Dead')]

In [17]:
df_pyspark.select('gender').show()

+------+
|gender|
+------+
|Female|
|Female|
|  Male|
|  Male|
|  Male|
|Female|
|  Male|
|Female|
|  Male|
|  Male|
|Female|
|Female|
|Female|
|  Male|
|Female|
|  Male|
|Female|
|Female|
|Female|
|  Male|
+------+
only showing top 20 rows

In [18]:
df_pyspark.dtypes

[('gender', 'string'),
 ('state', 'string'),
 ('settlement', 'string'),
 ('report_date', 'string'),
 ('report_year', 'int'),
 ('age_str', 'string'),
 ('date_of_birth', 'string'),
 ('health_status', 'string')]

In [19]:
### adding columns in df

In [20]:
from pyspark.sql.functions import regexp_extract, when

# Extracting numeric value and converting age to years
df_pyspark = df_pyspark.withColumn("age_num", regexp_extract(df_pyspark["age_str"], r'(\d+)', 1).cast("int"))
df_pyspark = df_pyspark.withColumn("age_in_years", 
                                   when(df_pyspark["age_str"].like("%years%"), df_pyspark["age_num"])
                                   .when(df_pyspark["age_str"].like("%months%"), df_pyspark["age_num"] / 12)
                                   .otherwise(None))



df_pyspark.show()

+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------+-------------------+
|gender|               state|settlement|report_date|report_year| age_str|date_of_birth|health_status|age_num|       age_in_years|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------+-------------------+
|Female|              Ebonyi|     Urban|   16/12/11|       2011|59 years|     07/04/52|         Dead|     59|               59.0|
|Female|                 Imo|     Urban|   23/08/12|       2012|2 months|     21/06/15|        Alive|      2|0.16666666666666666|
|  Male|              Ebonyi|     Urban|   07/09/15|       2015|49 years|     09/03/66|         Dead|     49|               49.0|
|  Male|                Abia|     Urban|   12/06/11|       2011|48 years|     21/09/63|         Dead|     48|               48.0|
|  Male|             Bayelsa|     Rural|   02/02/09|       2009| 3 years|     27/07/06|         Dead|      3|                3.0|
|Female|             Anambra|     Rural|   27/06/11|       2011|16 years|     10/01/95|        Alive|     16|               16.0|
|  Male|Federal Capital T...|     Urban|   06/01/10|       2010| 2 years|     10/12/08|        Alive|      2|                2.0|
|Female|               Gombe|     Urban|   05/11/09|       2009|30 years|     30/03/79|         Dead|     30|               30.0|
|  Male|                Ogun|     Rural|   19/04/13|       2013|24 years|     16/08/89|         Dead|     24|               24.0|
|  Male|              Kaduna|     Urban|   29/12/17|       2017|19 years|     22/01/98|        Alive|     19|               19.0|
|Female|               Benue|     Rural|   14/12/09|       2009| 7 years|     17/03/02|        Alive|      7|                7.0|
|Female|                Kano|     Urban|   15/06/16|       2016|61 years|     17/01/55|         Dead|     61|               61.0|
|Female|                 Oyo|     Rural|   18/07/14|       2014|20 years|     26/01/94|         Dead|     20|               20.0|
|  Male|                Kano|     Rural|   03/05/14|       2014|15 years|     01/12/99|        Alive|     15|               15.0|
|Female|                Ondo|     Rural|   17/11/11|       2011| 9 years|     12/05/02|        Alive|      9|                9.0|
|  Male|             Anambra|     Rural|   06/10/17|       2017|47 years|     04/07/70|         Dead|     47|               47.0|
|Female|                 Imo|     Urban|   07/08/12|       2012|69 years|     05/09/43|         Dead|     69|               69.0|
|Female|             Zamfara|     Urban|   28/05/15|       2015|54 years|     31/10/61|         Dead|     54|               54.0|
|Female|            Nasarawa|     Rural|   13/02/18|       2018|59 years|     09/06/59|         Dead|     59|               59.0|
|  Male|                Ogun|     Urban|   02/06/12|       2012| 7 years|     13/05/05|        Alive|      7|                7.0|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------+-------------------+
only showing top 20 rows

In [21]:
df_pyspark.select('age_in_years').show()

+-------------------+
|       age_in_years|
+-------------------+
|               59.0|
|0.16666666666666666|
|               49.0|
|               48.0|
|                3.0|
|               16.0|
|                2.0|
|               30.0|
|               24.0|
|               19.0|
|                7.0|
|               61.0|
|               20.0|
|               15.0|
|                9.0|
|               47.0|
|               69.0|
|               54.0|
|               59.0|
|                7.0|
+-------------------+
only showing top 20 rows

In [22]:

df_pyspark = df_pyspark.withColumn("age_group", 
                                   when(df_pyspark["age_in_years"] < 18, "Child")
                                   .when((df_pyspark["age_in_years"] >= 18) & (df_pyspark["age_in_years"] < 60), "Adult")
                                   .otherwise("Senior"))

In [23]:
df_pyspark.show()

+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------+-------------------+---------+
|gender|               state|settlement|report_date|report_year| age_str|date_of_birth|health_status|age_num|       age_in_years|age_group|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------+-------------------+---------+
|Female|              Ebonyi|     Urban|   16/12/11|       2011|59 years|     07/04/52|         Dead|     59|               59.0|    Adult|
|Female|                 Imo|     Urban|   23/08/12|       2012|2 months|     21/06/15|        Alive|      2|0.16666666666666666|    Child|
|  Male|              Ebonyi|     Urban|   07/09/15|       2015|49 years|     09/03/66|         Dead|     49|               49.0|    Adult|
|  Male|                Abia|     Urban|   12/06/11|       2011|48 years|     21/09/63|         Dead|     48|               48.0|    Adult|
|  Male|             Bayelsa|     Rural|   02/02/09|       2009| 3 years|     27/07/06|         Dead|      3|                3.0|    Child|
|Female|             Anambra|     Rural|   27/06/11|       2011|16 years|     10/01/95|        Alive|     16|               16.0|    Child|
|  Male|Federal Capital T...|     Urban|   06/01/10|       2010| 2 years|     10/12/08|        Alive|      2|                2.0|    Child|
|Female|               Gombe|     Urban|   05/11/09|       2009|30 years|     30/03/79|         Dead|     30|               30.0|    Adult|
|  Male|                Ogun|     Rural|   19/04/13|       2013|24 years|     16/08/89|         Dead|     24|               24.0|    Adult|
|  Male|              Kaduna|     Urban|   29/12/17|       2017|19 years|     22/01/98|        Alive|     19|               19.0|    Adult|
|Female|               Benue|     Rural|   14/12/09|       2009| 7 years|     17/03/02|        Alive|      7|                7.0|    Child|
|Female|                Kano|     Urban|   15/06/16|       2016|61 years|     17/01/55|         Dead|     61|               61.0|   Senior|
|Female|                 Oyo|     Rural|   18/07/14|       2014|20 years|     26/01/94|         Dead|     20|               20.0|    Adult|
|  Male|                Kano|     Rural|   03/05/14|       2014|15 years|     01/12/99|        Alive|     15|               15.0|    Child|
|Female|                Ondo|     Rural|   17/11/11|       2011| 9 years|     12/05/02|        Alive|      9|                9.0|    Child|
|  Male|             Anambra|     Rural|   06/10/17|       2017|47 years|     04/07/70|         Dead|     47|               47.0|    Adult|
|Female|                 Imo|     Urban|   07/08/12|       2012|69 years|     05/09/43|         Dead|     69|               69.0|   Senior|
|Female|             Zamfara|     Urban|   28/05/15|       2015|54 years|     31/10/61|         Dead|     54|               54.0|    Adult|
|Female|            Nasarawa|     Rural|   13/02/18|       2018|59 years|     09/06/59|         Dead|     59|               59.0|    Adult|
|  Male|                Ogun|     Urban|   02/06/12|       2012| 7 years|     13/05/05|        Alive|      7|                7.0|    Child|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------+-------------------+---------+
only showing top 20 rows

In [24]:
df_pyspark.drop('age_num')

DataFrame[gender: string, state: string, settlement: string, report_date: string, report_year: int, age_str: string, date_of_birth: string, health_status: string, age_in_years: double, age_group: string]

In [25]:
df_pyspark.printSchema()

root
 |-- gender: string (nullable = true)
 |-- state: string (nullable = true)
 |-- settlement: string (nullable = true)
 |-- report_date: string (nullable = true)
 |-- report_year: integer (nullable = true)
 |-- age_str: string (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- health_status: string (nullable = true)
 |-- age_num: integer (nullable = true)
 |-- age_in_years: double (nullable = true)
 |-- age_group: string (nullable = false)

In [26]:
df_pyspark = df_pyspark.drop("age_num")
df_pyspark.show()

+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|gender|               state|settlement|report_date|report_year| age_str|date_of_birth|health_status|       age_in_years|age_group|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|Female|              Ebonyi|     Urban|   16/12/11|       2011|59 years|     07/04/52|         Dead|               59.0|    Adult|
|Female|                 Imo|     Urban|   23/08/12|       2012|2 months|     21/06/15|        Alive|0.16666666666666666|    Child|
|  Male|              Ebonyi|     Urban|   07/09/15|       2015|49 years|     09/03/66|         Dead|               49.0|    Adult|
|  Male|                Abia|     Urban|   12/06/11|       2011|48 years|     21/09/63|         Dead|               48.0|    Adult|
|  Male|             Bayelsa|     Rural|   02/02/09|       2009| 3 years|     27/07/06|         Dead|                3.0|    Child|
|Female|             Anambra|     Rural|   27/06/11|       2011|16 years|     10/01/95|        Alive|               16.0|    Child|
|  Male|Federal Capital T...|     Urban|   06/01/10|       2010| 2 years|     10/12/08|        Alive|                2.0|    Child|
|Female|               Gombe|     Urban|   05/11/09|       2009|30 years|     30/03/79|         Dead|               30.0|    Adult|
|  Male|                Ogun|     Rural|   19/04/13|       2013|24 years|     16/08/89|         Dead|               24.0|    Adult|
|  Male|              Kaduna|     Urban|   29/12/17|       2017|19 years|     22/01/98|        Alive|               19.0|    Adult|
|Female|               Benue|     Rural|   14/12/09|       2009| 7 years|     17/03/02|        Alive|                7.0|    Child|
|Female|                Kano|     Urban|   15/06/16|       2016|61 years|     17/01/55|         Dead|               61.0|   Senior|
|Female|                 Oyo|     Rural|   18/07/14|       2014|20 years|     26/01/94|         Dead|               20.0|    Adult|
|  Male|                Kano|     Rural|   03/05/14|       2014|15 years|     01/12/99|        Alive|               15.0|    Child|
|Female|                Ondo|     Rural|   17/11/11|       2011| 9 years|     12/05/02|        Alive|                9.0|    Child|
|  Male|             Anambra|     Rural|   06/10/17|       2017|47 years|     04/07/70|         Dead|               47.0|    Adult|
|Female|                 Imo|     Urban|   07/08/12|       2012|69 years|     05/09/43|         Dead|               69.0|   Senior|
|Female|             Zamfara|     Urban|   28/05/15|       2015|54 years|     31/10/61|         Dead|               54.0|    Adult|
|Female|            Nasarawa|     Rural|   13/02/18|       2018|59 years|     09/06/59|         Dead|               59.0|    Adult|
|  Male|                Ogun|     Urban|   02/06/12|       2012| 7 years|     13/05/05|        Alive|                7.0|    Child|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
only showing top 20 rows

In [27]:
#from pyspark.sql import SparkSession

# Check if 'spark' is defined and stop it
#try:
#    spark.stop()
#except NameError:
#    pass

# Create a new Spark session
#spark = SparkSession.builder.appName("NewSession").getOrCreate()

In [28]:


df_pyspark.show()

+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|gender|               state|settlement|report_date|report_year| age_str|date_of_birth|health_status|       age_in_years|age_group|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|Female|              Ebonyi|     Urban|   16/12/11|       2011|59 years|     07/04/52|         Dead|               59.0|    Adult|
|Female|                 Imo|     Urban|   23/08/12|       2012|2 months|     21/06/15|        Alive|0.16666666666666666|    Child|
|  Male|              Ebonyi|     Urban|   07/09/15|       2015|49 years|     09/03/66|         Dead|               49.0|    Adult|
|  Male|                Abia|     Urban|   12/06/11|       2011|48 years|     21/09/63|         Dead|               48.0|    Adult|
|  Male|             Bayelsa|     Rural|   02/02/09|       2009| 3 years|     27/07/06|         Dead|                3.0|    Child|
|Female|             Anambra|     Rural|   27/06/11|       2011|16 years|     10/01/95|        Alive|               16.0|    Child|
|  Male|Federal Capital T...|     Urban|   06/01/10|       2010| 2 years|     10/12/08|        Alive|                2.0|    Child|
|Female|               Gombe|     Urban|   05/11/09|       2009|30 years|     30/03/79|         Dead|               30.0|    Adult|
|  Male|                Ogun|     Rural|   19/04/13|       2013|24 years|     16/08/89|         Dead|               24.0|    Adult|
|  Male|              Kaduna|     Urban|   29/12/17|       2017|19 years|     22/01/98|        Alive|               19.0|    Adult|
|Female|               Benue|     Rural|   14/12/09|       2009| 7 years|     17/03/02|        Alive|                7.0|    Child|
|Female|                Kano|     Urban|   15/06/16|       2016|61 years|     17/01/55|         Dead|               61.0|   Senior|
|Female|                 Oyo|     Rural|   18/07/14|       2014|20 years|     26/01/94|         Dead|               20.0|    Adult|
|  Male|                Kano|     Rural|   03/05/14|       2014|15 years|     01/12/99|        Alive|               15.0|    Child|
|Female|                Ondo|     Rural|   17/11/11|       2011| 9 years|     12/05/02|        Alive|                9.0|    Child|
|  Male|             Anambra|     Rural|   06/10/17|       2017|47 years|     04/07/70|         Dead|               47.0|    Adult|
|Female|                 Imo|     Urban|   07/08/12|       2012|69 years|     05/09/43|         Dead|               69.0|   Senior|
|Female|             Zamfara|     Urban|   28/05/15|       2015|54 years|     31/10/61|         Dead|               54.0|    Adult|
|Female|            Nasarawa|     Rural|   13/02/18|       2018|59 years|     09/06/59|         Dead|               59.0|    Adult|
|  Male|                Ogun|     Urban|   02/06/12|       2012| 7 years|     13/05/05|        Alive|                7.0|    Child|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
only showing top 20 rows

In [29]:
df_pyspark.withColumnRenamed('age_str','age_in_months_years')

DataFrame[gender: string, state: string, settlement: string, report_date: string, report_year: int, age_in_months_years: string, date_of_birth: string, health_status: string, age_in_years: double, age_group: string]

In [30]:
df_pyspark.filter((df_pyspark["report_date"] == "0000-00-00") | (df_pyspark["date_of_birth"] == "0000-00-00")).show()

+------+-----------+----------+-----------+-----------+--------+-------------+-------------+------------+---------+
|gender|      state|settlement|report_date|report_year| age_str|date_of_birth|health_status|age_in_years|age_group|
+------+-----------+----------+-----------+-----------+--------+-------------+-------------+------------+---------+
|  Male|     Taraba|     Rural|   13/08/12|       2012|47 years|   0000-00-00|        Alive|        47.0|    Adult|
|Female|      Kebbi|     Urban|   06/01/13|       2013|68 years|   0000-00-00|         Dead|        68.0|   Senior|
|Female|      Niger|     Urban|   06/09/10|       2010| 7 years|   0000-00-00|         Dead|         7.0|    Child|
|Female|     Sokoto|     Rural|   30/09/10|       2010|28 years|   0000-00-00|         Dead|        28.0|    Adult|
|  Male|    Plateau|     Urban|   10/11/12|       2012|66 years|   0000-00-00|         Dead|        66.0|   Senior|
|  Male|       Kano|     Urban|   16/11/18|       2018|42 years|   0000-00-00|        Alive|        42.0|    Adult|
|Female|      Borno|     Rural|   03/10/09|       2009|16 years|   0000-00-00|        Alive|        16.0|    Child|
|  Male|      Delta|     Rural|   28/10/18|       2018|28 years|   0000-00-00|        Alive|        28.0|    Adult|
|  Male|       Ondo|     Urban|   14/10/09|       2009|22 years|   0000-00-00|        Alive|        22.0|    Adult|
|  Male|       Osun|     Rural|   15/06/09|       2009|62 years|   0000-00-00|        Alive|        62.0|   Senior|
|  Male|      Delta|     Urban|   04/01/09|       2009|39 years|   0000-00-00|         Dead|        39.0|    Adult|
|  Male|     Jigawa|     Rural|   27/01/16|       2016|71 years|   0000-00-00|         Dead|        71.0|   Senior|
|Female|Cross River|     Rural|   09/12/16|       2016|69 years|   0000-00-00|         Dead|        69.0|   Senior|
|Female|       Ogun|     Rural|   04/08/10|       2010|42 years|   0000-00-00|         Dead|        42.0|    Adult|
|Female|    Zamfara|     Urban|   31/01/10|       2010|66 years|   0000-00-00|         Dead|        66.0|   Senior|
|Female|      Kebbi|     Rural|   21/10/09|       2009|54 years|   0000-00-00|        Alive|        54.0|    Adult|
|Female|       Ondo|     Rural|   26/11/12|       2012|55 years|   0000-00-00|        Alive|        55.0|    Adult|
|Female|     Rivers|     Rural|   23/04/17|       2017|65 years|   0000-00-00|        Alive|        65.0|   Senior|
|Female|     Taraba|     Rural|   18/09/10|       2010|32 years|   0000-00-00|        Alive|        32.0|    Adult|
|  Male|     Ebonyi|     Urban|   11/01/17|       2017|45 years|   0000-00-00|         Dead|        45.0|    Adult|
+------+-----------+----------+-----------+-----------+--------+-------------+-------------+------------+---------+
only showing top 20 rows

In [31]:
df_pyspark.select("report_date").distinct().show()
df_pyspark.select("date_of_birth").distinct().show()

+-----------+
|report_date|
+-----------+
|   06/01/09|
|   09/10/16|
|   06/01/17|
|   27/11/13|
|   19/03/14|
|   09/09/15|
|   27/09/10|
|   04/04/15|
|   27/01/10|
|   05/05/10|
|   01/09/12|
|   09/11/11|
|   26/05/12|
|   28/04/09|
|   08/12/18|
|   16/04/13|
|   22/02/11|
|   24/04/10|
|   08/10/13|
|   03/03/09|
+-----------+
only showing top 20 rows

+-------------+
|date_of_birth|
+-------------+
|     09/05/67|
|     19/04/76|
|     20/06/92|
|     30/03/01|
|     25/02/99|
|     23/03/73|
|     12/07/91|
|     24/09/65|
|     28/04/09|
|     31/01/08|
|     14/09/19|
|     01/09/12|
|     27/11/13|
|     25/07/61|
|     07/04/61|
|     19/05/61|
|     26/05/12|
|     16/04/13|
|     06/05/83|
|     09/11/11|
+-------------+
only showing top 20 rows

In [32]:
# Check for empty strings
df_pyspark.filter((df_pyspark["gender"] == "") | (df_pyspark["state"] == "")).show()

+------+-----+----------+-----------+-----------+-------+-------------+-------------+------------+---------+
|gender|state|settlement|report_date|report_year|age_str|date_of_birth|health_status|age_in_years|age_group|
+------+-----+----------+-----------+-----------+-------+-------------+-------------+------------+---------+
+------+-----+----------+-----------+-----------+-------+-------------+-------------+------------+---------+

In [33]:
from pyspark.sql.functions import when

df_pyspark = df_pyspark.withColumn("report_date", when(df_pyspark["report_date"] == "0000-00-00", None).otherwise(df_pyspark["report_date"]))
df_pyspark = df_pyspark.withColumn("date_of_birth", when(df_pyspark["date_of_birth"] == "0000-00-00", None).otherwise(df_pyspark["date_of_birth"]))

In [34]:
df_pyspark = df_pyspark.na.drop()

In [35]:
df_pyspark.show()

+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|gender|               state|settlement|report_date|report_year| age_str|date_of_birth|health_status|       age_in_years|age_group|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|Female|              Ebonyi|     Urban|   16/12/11|       2011|59 years|     07/04/52|         Dead|               59.0|    Adult|
|Female|                 Imo|     Urban|   23/08/12|       2012|2 months|     21/06/15|        Alive|0.16666666666666666|    Child|
|  Male|              Ebonyi|     Urban|   07/09/15|       2015|49 years|     09/03/66|         Dead|               49.0|    Adult|
|  Male|                Abia|     Urban|   12/06/11|       2011|48 years|     21/09/63|         Dead|               48.0|    Adult|
|  Male|             Bayelsa|     Rural|   02/02/09|       2009| 3 years|     27/07/06|         Dead|                3.0|    Child|
|Female|             Anambra|     Rural|   27/06/11|       2011|16 years|     10/01/95|        Alive|               16.0|    Child|
|  Male|Federal Capital T...|     Urban|   06/01/10|       2010| 2 years|     10/12/08|        Alive|                2.0|    Child|
|Female|               Gombe|     Urban|   05/11/09|       2009|30 years|     30/03/79|         Dead|               30.0|    Adult|
|  Male|                Ogun|     Rural|   19/04/13|       2013|24 years|     16/08/89|         Dead|               24.0|    Adult|
|  Male|              Kaduna|     Urban|   29/12/17|       2017|19 years|     22/01/98|        Alive|               19.0|    Adult|
|Female|               Benue|     Rural|   14/12/09|       2009| 7 years|     17/03/02|        Alive|                7.0|    Child|
|Female|                Kano|     Urban|   15/06/16|       2016|61 years|     17/01/55|         Dead|               61.0|   Senior|
|Female|                 Oyo|     Rural|   18/07/14|       2014|20 years|     26/01/94|         Dead|               20.0|    Adult|
|  Male|                Kano|     Rural|   03/05/14|       2014|15 years|     01/12/99|        Alive|               15.0|    Child|
|Female|                Ondo|     Rural|   17/11/11|       2011| 9 years|     12/05/02|        Alive|                9.0|    Child|
|  Male|             Anambra|     Rural|   06/10/17|       2017|47 years|     04/07/70|         Dead|               47.0|    Adult|
|Female|                 Imo|     Urban|   07/08/12|       2012|69 years|     05/09/43|         Dead|               69.0|   Senior|
|Female|             Zamfara|     Urban|   28/05/15|       2015|54 years|     31/10/61|         Dead|               54.0|    Adult|
|Female|            Nasarawa|     Rural|   13/02/18|       2018|59 years|     09/06/59|         Dead|               59.0|    Adult|
|  Male|                Ogun|     Urban|   02/06/12|       2012| 7 years|     13/05/05|        Alive|                7.0|    Child|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
only showing top 20 rows

In [36]:
df_pyspark.filter((df_pyspark["report_date"] == "0000-00-00") | (df_pyspark["date_of_birth"] == "0000-00-00")).show()

+------+-----+----------+-----------+-----------+-------+-------------+-------------+------------+---------+
|gender|state|settlement|report_date|report_year|age_str|date_of_birth|health_status|age_in_years|age_group|
+------+-----+----------+-----------+-----------+-------+-------------+-------------+------------+---------+
+------+-----+----------+-----------+-----------+-------+-------------+-------------+------------+---------+

In [37]:
df_pyspark.groupby('gender').count().show()

+------+-----+
|gender|count|
+------+-----+
|Female|14304|
|  Male|13223|
+------+-----+

In [38]:
df_pyspark.groupby('health_status').count().show()

+-------------+-----+
|health_status|count|
+-------------+-----+
|         Dead|13771|
|        Alive|13756|
+-------------+-----+

In [39]:
df_pyspark.groupby('state').count().show(50)

+--------------------+-----+
|               state|count|
+--------------------+-----+
|                 Oyo|  739|
|              Bauchi|  709|
|               Gombe|  759|
|                Ondo|  759|
|               Delta|  740|
|                Osun|  747|
|               Enugu|  722|
|            Nasarawa|  724|
|                 Imo|  775|
|               Benue|  824|
|               Lagos|  765|
|              Ebonyi|  801|
|             Plateau|  714|
|              Rivers|  741|
|             Anambra|  764|
|               Kebbi|  770|
|Federal Capital T...|  787|
|                Kano|  751|
|               Borno|  730|
|              Jigawa|  761|
|               Niger|  769|
|             Katsina|  717|
|                Ogun|  769|
|               Ekiti|  739|
|              Sokoto|  720|
|             Zamfara|  700|
|                Abia|  726|
|                 Edo|  705|
|                Yobe|  748|
|         Cross River|  711|
|             Adamawa|  740|
|                Kogi|  735|
|           Akwa Ibom|  742|
|              Kaduna|  752|
|               Kwara|  675|
|              Taraba|  747|
|             Bayelsa|  750|
+--------------------+-----+

In [40]:
num_states = df_pyspark.select("state").distinct().count()
print(f"Number of unique states: {num_states}")

Number of unique states: 37

In [41]:
df_pyspark.groupby('report_year').count().show()

+-----------+-----+
|report_year|count|
+-----------+-----+
|       2018| 2773|
|       2015| 2768|
|       2013| 2811|
|       2014| 2748|
|       2012| 2711|
|       2009| 2674|
|       2016| 2777|
|       2010| 2799|
|       2011| 2744|
|       2017| 2722|
+-----------+-----+

In [42]:
df_pyspark.groupby('settlement').count().show()

+----------+-----+
|settlement|count|
+----------+-----+
|     Urban|13750|
|     Rural|13777|
+----------+-----+

In [43]:
df_pyspark.groupby('age_in_years').count().show()

+-------------------+-----+
|       age_in_years|count|
+-------------------+-----+
| 0.4166666666666667|  253|
|               70.0|  297|
|                8.0|  347|
|               67.0|  298|
|0.08333333333333333|  430|
|               69.0|  357|
|                7.0|  342|
|               49.0|  350|
| 0.5833333333333334|  176|
|               29.0|  344|
|               64.0|  329|
|               75.0|  136|
|               47.0|  331|
|               42.0|  339|
|               44.0|  378|
|               35.0|  336|
|               62.0|  324|
|               18.0|  357|
|               39.0|  332|
| 0.3333333333333333|  287|
+-------------------+-----+
only showing top 20 rows

In [44]:

df_pyspark = df_pyspark.withColumn("age_group", 
                                   when(df_pyspark["age_in_years"] < 18, "Child")
                                   .when((df_pyspark["age_in_years"] >= 18) & (df_pyspark["age_in_years"] < 60), "Adult")
                                   .otherwise("Senior"))

In [45]:
df_pyspark.show()

+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|gender|               state|settlement|report_date|report_year| age_str|date_of_birth|health_status|       age_in_years|age_group|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|Female|              Ebonyi|     Urban|   16/12/11|       2011|59 years|     07/04/52|         Dead|               59.0|    Adult|
|Female|                 Imo|     Urban|   23/08/12|       2012|2 months|     21/06/15|        Alive|0.16666666666666666|    Child|
|  Male|              Ebonyi|     Urban|   07/09/15|       2015|49 years|     09/03/66|         Dead|               49.0|    Adult|
|  Male|                Abia|     Urban|   12/06/11|       2011|48 years|     21/09/63|         Dead|               48.0|    Adult|
|  Male|             Bayelsa|     Rural|   02/02/09|       2009| 3 years|     27/07/06|         Dead|                3.0|    Child|
|Female|             Anambra|     Rural|   27/06/11|       2011|16 years|     10/01/95|        Alive|               16.0|    Child|
|  Male|Federal Capital T...|     Urban|   06/01/10|       2010| 2 years|     10/12/08|        Alive|                2.0|    Child|
|Female|               Gombe|     Urban|   05/11/09|       2009|30 years|     30/03/79|         Dead|               30.0|    Adult|
|  Male|                Ogun|     Rural|   19/04/13|       2013|24 years|     16/08/89|         Dead|               24.0|    Adult|
|  Male|              Kaduna|     Urban|   29/12/17|       2017|19 years|     22/01/98|        Alive|               19.0|    Adult|
|Female|               Benue|     Rural|   14/12/09|       2009| 7 years|     17/03/02|        Alive|                7.0|    Child|
|Female|                Kano|     Urban|   15/06/16|       2016|61 years|     17/01/55|         Dead|               61.0|   Senior|
|Female|                 Oyo|     Rural|   18/07/14|       2014|20 years|     26/01/94|         Dead|               20.0|    Adult|
|  Male|                Kano|     Rural|   03/05/14|       2014|15 years|     01/12/99|        Alive|               15.0|    Child|
|Female|                Ondo|     Rural|   17/11/11|       2011| 9 years|     12/05/02|        Alive|                9.0|    Child|
|  Male|             Anambra|     Rural|   06/10/17|       2017|47 years|     04/07/70|         Dead|               47.0|    Adult|
|Female|                 Imo|     Urban|   07/08/12|       2012|69 years|     05/09/43|         Dead|               69.0|   Senior|
|Female|             Zamfara|     Urban|   28/05/15|       2015|54 years|     31/10/61|         Dead|               54.0|    Adult|
|Female|            Nasarawa|     Rural|   13/02/18|       2018|59 years|     09/06/59|         Dead|               59.0|    Adult|
|  Male|                Ogun|     Urban|   02/06/12|       2012| 7 years|     13/05/05|        Alive|                7.0|    Child|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
only showing top 20 rows

In [46]:
df_pyspark.groupby('age_group').count().show()

+---------+-----+
|age_group|count|
+---------+-----+
|   Senior| 4941|
|    Adult|14634|
|    Child| 7952|
+---------+-----+

In [47]:
df_pyspark.select("report_date").distinct().show()
df_pyspark.select("date_of_birth").distinct().show()

+-----------+
|report_date|
+-----------+
|   06/01/09|
|   09/10/16|
|   06/01/17|
|   27/11/13|
|   19/03/14|
|   09/09/15|
|   27/09/10|
|   04/04/15|
|   27/01/10|
|   05/05/10|
|   01/09/12|
|   09/11/11|
|   26/05/12|
|   28/04/09|
|   08/12/18|
|   16/04/13|
|   22/02/11|
|   24/04/10|
|   08/10/13|
|   03/03/09|
+-----------+
only showing top 20 rows

+-------------+
|date_of_birth|
+-------------+
|     09/05/67|
|     19/04/76|
|     20/06/92|
|     30/03/01|
|     25/02/99|
|     23/03/73|
|     12/07/91|
|     24/09/65|
|     28/04/09|
|     31/01/08|
|     14/09/19|
|     01/09/12|
|     27/11/13|
|     25/07/61|
|     07/04/61|
|     19/05/61|
|     26/05/12|
|     16/04/13|
|     06/05/83|
|     09/11/11|
+-------------+
only showing top 20 rows

In [48]:
# Group by all columns and count occurrences
duplicate_rows = df_pyspark.groupBy(df_pyspark.columns).count().filter("count > 1")

# Show duplicate rows (if any)
duplicate_rows.show()

+------+-----+----------+-----------+-----------+-------+-------------+-------------+------------+---------+-----+
|gender|state|settlement|report_date|report_year|age_str|date_of_birth|health_status|age_in_years|age_group|count|
+------+-----+----------+-----------+-----------+-------+-------------+-------------+------------+---------+-----+
+------+-----+----------+-----------+-----------+-------+-------------+-------------+------------+---------+-----+

In [49]:
df_pyspark.printSchema()

root
 |-- gender: string (nullable = true)
 |-- state: string (nullable = true)
 |-- settlement: string (nullable = true)
 |-- report_date: string (nullable = true)
 |-- report_year: integer (nullable = true)
 |-- age_str: string (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- health_status: string (nullable = true)
 |-- age_in_years: double (nullable = true)
 |-- age_group: string (nullable = false)

In [50]:
# In the last step, we performed the following actions:

#1. Date Format Transformation: We took the `report_date` column, which was in the `dd/MM/yy` format, and transformed it into the `yyyy-MM-dd` format using a custom logic to correctly handle the year.

#2. Handling Century Logic: We implemented a rule to convert the year part from a 2-digit format to a 4-digit year:
   #- For years `00-24`, we added the prefix `20` (e.g., `67` became `1967`).
   #- For years `25-99`, we added the prefix `19` (e.g., `52` became `1952`).

#3. Using PySpark Functions:
#   - We used `rlike` to ensure the date matches the `dd/MM/yy` format.
#  - We used `when` to apply the century rules based on the 2-digit year.
#   - We used `concat` to combine parts of the date into the required `yyyy-MM-dd` format.
#   - We used the `to_date` function to convert the final concatenated string into a proper date format.

#4. Null Handling: We also ensured that if a value didn't match the expected date format, it was replaced with `null`.

#This process successfully standardized the `report_date` column and ensured that the year part is interpreted correctly based on the provided logic.

In [51]:
from pyspark.sql.functions import col, when, concat, lit, to_date

# Ensure the date format is in dd/MM/yy and convert it using the rules
df_pyspark = df_pyspark.withColumn(
    "report_date",
    when(
        col("report_date").rlike(r"\d{2}/\d{2}/\d{2}"),  # Make sure it matches dd/MM/yy
        to_date(
            concat(
                when(
                    col("report_date").substr(7, 2).cast("int") <= 24,  # Year <= 24: 2000s
                    concat(lit("20"), col("report_date").substr(7, 2))  # Prefix with 20
                ).otherwise(  # Year >= 25: 1900s
                    concat(lit("19"), col("report_date").substr(7, 2))  # Prefix with 19
                ),
                lit("-"),  # Add separator between year and month
                col("report_date").substr(4, 2),  # Extract month
                lit("-"),  # Add separator between month and day
                col("report_date").substr(1, 2)  # Extract day
            ),
            "yyyy-MM-dd"  # Convert the final result to proper date format
        )
    ).otherwise(None)  # Handle cases where the date format doesn't match
)

# Repeat for date_of_birth column
df_pyspark = df_pyspark.withColumn(
    "date_of_birth",
    when(
        col("date_of_birth").rlike(r"\d{2}/\d{2}/\d{2}"),  # Make sure it matches dd/MM/yy
        to_date(
            concat(
                when(
                    col("date_of_birth").substr(7, 2).cast("int") <= 24,  # Year <= 24: 2000s
                    concat(lit("20"), col("date_of_birth").substr(7, 2))  # Prefix with 20
                ).otherwise(  # Year >= 25: 1900s
                    concat(lit("19"), col("date_of_birth").substr(7, 2))  # Prefix with 19
                ),
                lit("-"),  # Add separator between year and month
                col("date_of_birth").substr(4, 2),  # Extract month
                lit("-"),  # Add separator between month and day
                col("date_of_birth").substr(1, 2)  # Extract day
            ),
            "yyyy-MM-dd"  # Convert the final result to proper date format
        )
    ).otherwise(None)  # Handle cases where the date format doesn't match
)

# Show the results
df_pyspark.select("report_date", "date_of_birth").show(50, truncate=False)

+-----------+-------------+
|report_date|date_of_birth|
+-----------+-------------+
|2011-12-16 |1952-04-07   |
|2012-08-23 |2015-06-21   |
|2015-09-07 |1966-03-09   |
|2011-06-12 |1963-09-21   |
|2009-02-02 |2006-07-27   |
|2011-06-27 |1995-01-10   |
|2010-01-06 |2008-12-10   |
|2009-11-05 |1979-03-30   |
|2013-04-19 |1989-08-16   |
|2017-12-29 |1998-01-22   |
|2009-12-14 |2002-03-17   |
|2016-06-15 |1955-01-17   |
|2014-07-18 |1994-01-26   |
|2014-05-03 |1999-12-01   |
|2011-11-17 |2002-05-12   |
|2017-10-06 |1970-07-04   |
|2012-08-07 |1943-09-05   |
|2015-05-28 |1961-10-31   |
|2018-02-13 |1959-06-09   |
|2012-06-02 |2005-05-13   |
|2016-08-25 |1943-05-29   |
|2015-04-29 |1954-08-01   |
|2013-05-04 |1981-02-04   |
|2015-01-30 |1951-08-02   |
|2015-11-09 |2014-01-02   |
|2017-09-25 |1996-10-20   |
|2016-02-28 |1965-08-20   |
|2014-12-23 |1944-11-23   |
|2012-06-03 |1985-08-30   |
|2013-02-03 |1950-02-26   |
|2015-10-09 |1977-02-10   |
|2018-07-26 |1950-11-01   |
|2010-09-19 |1980-11-27   |
|2009-01-06 |1974-09-18   |
|2015-04-29 |1970-04-13   |
|2010-09-13 |1950-02-12   |
|2009-06-27 |1960-03-27   |
|2018-11-17 |1968-11-14   |
|2018-03-19 |1983-11-24   |
|2009-04-03 |2001-06-24   |
|2014-03-16 |1985-02-22   |
|2015-11-02 |1959-11-22   |
|2013-08-30 |1996-03-14   |
|2015-08-30 |1969-07-15   |
|2013-03-27 |1961-10-21   |
|2016-11-09 |1948-08-07   |
|2012-09-03 |1956-05-21   |
|2016-08-29 |1951-02-06   |
|2015-02-28 |1996-05-19   |
|2017-06-09 |1953-12-06   |
+-----------+-------------+
only showing top 50 rows

In [68]:
df = spark.read.csv("/Users/vivektomar/Desktop/dataset 1.csv", header=True, inferSchema=True)

In [69]:
df.show()

+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|gender|               state|settlement|report_date|report_year| age_str|date_of_birth|health_status|       age_in_years|age_group|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|Female|              Ebonyi|     Urban| 2011-12-16|       2011|59 years|   1952-04-07|         Dead|               59.0|    Adult|
|Female|                 Imo|     Urban| 2012-08-23|       2012|2 months|   2015-06-21|        Alive|0.16666666666666666|    Child|
|  Male|              Ebonyi|     Urban| 2015-09-07|       2015|49 years|   1966-03-09|         Dead|               49.0|    Adult|
|  Male|                Abia|     Urban| 2011-06-12|       2011|48 years|   1963-09-21|         Dead|               48.0|    Adult|
|  Male|             Bayelsa|     Rural| 2009-02-02|       2009| 3 years|   2006-07-27|         Dead|                3.0|    Child|
|Female|             Anambra|     Rural| 2011-06-27|       2011|16 years|   1995-01-10|        Alive|               16.0|    Child|
|  Male|Federal Capital T...|     Urban| 2010-01-06|       2010| 2 years|   2008-12-10|        Alive|                2.0|    Child|
|Female|               Gombe|     Urban| 2009-11-05|       2009|30 years|   1979-03-30|         Dead|               30.0|    Adult|
|  Male|                Ogun|     Rural| 2013-04-19|       2013|24 years|   1989-08-16|         Dead|               24.0|    Adult|
|  Male|              Kaduna|     Urban| 2017-12-29|       2017|19 years|   1998-01-22|        Alive|               19.0|    Adult|
|Female|               Benue|     Rural| 2009-12-14|       2009| 7 years|   2002-03-17|        Alive|                7.0|    Child|
|Female|                Kano|     Urban| 2016-06-15|       2016|61 years|   1955-01-17|         Dead|               61.0|   Senior|
|Female|                 Oyo|     Rural| 2014-07-18|       2014|20 years|   1994-01-26|         Dead|               20.0|    Adult|
|  Male|                Kano|     Rural| 2014-05-03|       2014|15 years|   1999-12-01|        Alive|               15.0|    Child|
|Female|                Ondo|     Rural| 2011-11-17|       2011| 9 years|   2002-05-12|        Alive|                9.0|    Child|
|  Male|             Anambra|     Rural| 2017-10-06|       2017|47 years|   1970-07-04|         Dead|               47.0|    Adult|
|Female|                 Imo|     Urban| 2012-08-07|       2012|69 years|   1943-09-05|         Dead|               69.0|   Senior|
|Female|             Zamfara|     Urban| 2015-05-28|       2015|54 years|   1961-10-31|         Dead|               54.0|    Adult|
|Female|            Nasarawa|     Rural| 2018-02-13|       2018|59 years|   1959-06-09|         Dead|               59.0|    Adult|
|  Male|                Ogun|     Urban| 2012-06-02|       2012| 7 years|   2005-05-13|        Alive|                7.0|    Child|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
only showing top 20 rows

In [70]:
df.write.format("parquet").saveAsTable("my_table")

In [71]:
spark.sql("SELECT * FROM my_table").show()

+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|gender|               state|settlement|report_date|report_year| age_str|date_of_birth|health_status|       age_in_years|age_group|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
|Female|              Ebonyi|     Urban| 2011-12-16|       2011|59 years|   1952-04-07|         Dead|               59.0|    Adult|
|Female|                 Imo|     Urban| 2012-08-23|       2012|2 months|   2015-06-21|        Alive|0.16666666666666666|    Child|
|  Male|              Ebonyi|     Urban| 2015-09-07|       2015|49 years|   1966-03-09|         Dead|               49.0|    Adult|
|  Male|                Abia|     Urban| 2011-06-12|       2011|48 years|   1963-09-21|         Dead|               48.0|    Adult|
|  Male|             Bayelsa|     Rural| 2009-02-02|       2009| 3 years|   2006-07-27|         Dead|                3.0|    Child|
|Female|             Anambra|     Rural| 2011-06-27|       2011|16 years|   1995-01-10|        Alive|               16.0|    Child|
|  Male|Federal Capital T...|     Urban| 2010-01-06|       2010| 2 years|   2008-12-10|        Alive|                2.0|    Child|
|Female|               Gombe|     Urban| 2009-11-05|       2009|30 years|   1979-03-30|         Dead|               30.0|    Adult|
|  Male|                Ogun|     Rural| 2013-04-19|       2013|24 years|   1989-08-16|         Dead|               24.0|    Adult|
|  Male|              Kaduna|     Urban| 2017-12-29|       2017|19 years|   1998-01-22|        Alive|               19.0|    Adult|
|Female|               Benue|     Rural| 2009-12-14|       2009| 7 years|   2002-03-17|        Alive|                7.0|    Child|
|Female|                Kano|     Urban| 2016-06-15|       2016|61 years|   1955-01-17|         Dead|               61.0|   Senior|
|Female|                 Oyo|     Rural| 2014-07-18|       2014|20 years|   1994-01-26|         Dead|               20.0|    Adult|
|  Male|                Kano|     Rural| 2014-05-03|       2014|15 years|   1999-12-01|        Alive|               15.0|    Child|
|Female|                Ondo|     Rural| 2011-11-17|       2011| 9 years|   2002-05-12|        Alive|                9.0|    Child|
|  Male|             Anambra|     Rural| 2017-10-06|       2017|47 years|   1970-07-04|         Dead|               47.0|    Adult|
|Female|                 Imo|     Urban| 2012-08-07|       2012|69 years|   1943-09-05|         Dead|               69.0|   Senior|
|Female|             Zamfara|     Urban| 2015-05-28|       2015|54 years|   1961-10-31|         Dead|               54.0|    Adult|
|Female|            Nasarawa|     Rural| 2018-02-13|       2018|59 years|   1959-06-09|         Dead|               59.0|    Adult|
|  Male|                Ogun|     Urban| 2012-06-02|       2012| 7 years|   2005-05-13|        Alive|                7.0|    Child|
+------+--------------------+----------+-----------+-----------+--------+-------------+-------------+-------------------+---------+
only showing top 20 rows

In [72]:
print(spark.conf.get("spark.sql.warehouse.dir"))

file:/Users/vivektomar/Documents/menin%20project/spark-warehouse